@charset "ISO-8859-1";




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.formulario{
	width:400px;
	background:#24303c;
	padding:30px;
	margin: auto;
	margin-top:100px;
	border-radius:4px;
	font-family:'roboto';
	color:white;box-shadow:7px 13px 37px #000;
	
}

h1{
	font-size:22px;
	margin-bottom:20px;
	
}

.inputs{
	width:100%;
	background:#24303c;
	padding:10px;
	border-radius:4px;
	margin-bottom:15px;
	border: 1px solid #1f53c5;
	font-size:18px;
	color:white;
	
}

.txt{
	height:40px;
	font-size:20px;
	color: white;
}

.boton{
	width:100%;
	background:#1f53c5;
	border: none;
	padding:12px;
	color:white;
	margin: 16px 0;
	font-size:16px;
	
	
}

.navegar{
	color:white;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

a{
	color:white;
	text-decoration:underline;
}

